html body{
    background-color:  hsl(233, 47%, 7%);
    margin: 0;
    padding: 0;
}
h1{
    color: hsl(0, 0%, 100%);
}
strong{
    color: hsl(277, 64%, 61%);
}
p{
    color: hsla(0, 0%, 100%, 0.75);
} 
li{
    color: hsla(0, 0%, 100%, 0.6);
    list-style: none;
}

.grid-1{
    display: grid;
    background-color: hsl(244, 38%, 16%);
}

/*

.img {
  background-image: url(examples/images/image-384.jpg); 
}
@media 
  (-webkit-min-device-pixel-ratio: 2), 
  (min-resolution: 192dpi) { 
  .img {
    background-image: url(examples/images/image-768.jpg);
  }
}

*/